@page "/"

<h1>@Mensage</h1>
<h2>@Message()</h2>
<button @onclick =" Update">Click</button>
@code{
    Boolean t = true;
    private string Mensage { get; set; } = "How are you, Frederico";
    private string Message()
    {
        return "Aprendendo Blazor";
    }
    private void Update()
    {

        if (t)
        {
            Mensage = "Not too bad";
            t = false;
        }
        else
        {
            Mensage = "How are you, Frederico";
            t = true;

        }
    }
}